strong {
  font-size: 25px;
  margin-bottom: 5px;
}

p {
  margin-top: 5px;
}


.sidebar {
  margin: 0px;
  padding-left: 1vw;
  padding-top: 14vh;
  width: 20%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: ellipsis;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  position: fixed;
  vertical-align: bottom;

  background-color: rgba(0, 0, 0, 0.65);
  mask-image: rgba(0, 0, 0, 1);
  backdrop-filter: blur(20px);

  -ms-overflow-style: none;
  scrollbar-width: none
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar_link {
  text-decoration: none;
}

.sidebar_link:hover {
  text-decoration: underline;
}


.text_area {
  left: 30vw;
  right: 10vw;
  min-height: 100vh;
  position: absolute;
  padding: 40px;
  padding-top: 10vh;

  background: rgba(0, 0, 0, 0.65);
}

.article_title {
  margin-bottom: 5px;
}

.article_date {
  color: #888888;
  margin-top: 0px;
}