:root {
  --text-color: #dddddd;
  --bg-prim-color: #1f1f1f;
  --bg-sec-color: #4f4f4f;
  --elem-border: #1f1f1f;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(-45deg, var(--bg-prim-color) 60%, var(--bg-sec-color) 100%);
  background-attachment: fixed;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  color: var(--text-color);
}

.font_config {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--text-color)
}

.dashboard_bar {
  width: 100vw;
  max-height: 100px;
  position: relative;
  z-index: 1000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 73px;
  box-sizing: border-box;
  margin-bottom: 100%;

  background-color: rgba(0, 0, 0, 0.65);
  font-size: min(7vh, 40px) !important;
  white-space: nowrap;
  cursor: default;
}

.dashboard_blur {
  width: 100vw;
  max-height: 200px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;

  background-color: transparent;
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  backdrop-filter: blur(20px);
}

.dashboard_button {
  width: auto;
  height: 100%;
  box-sizing: border-box;

  background-color: transparent;
  border-radius: 16px;
  border: 3px solid var(--elem-border);
  font-size: min(7vh, 40px) !important;
  cursor: pointer;
}

.dashboard_button:hover {
  background-color: var(--elem-border);
}

.dashboard_expander_button {
  width: 53px;
  height: 53px;
  top: 0%;
  right: 0%;
  position: fixed;
  z-index: 1001;
  line-height: 1;
  margin: 10px;

  background-color: #222222;
  border-radius: 16px;
  border: 3px solid #333333;
  font-size: min(7vh, 40px) !important;
  cursor: pointer;
}

.dashboard_expander_button:hover {
  background-color: #333333;
}

.dashboard_hider_gradient {
  height: 100%;
  width: 146px;
  top: 0%;
  right: 0%;
  position: absolute;

  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%);
}

.dashboard_a {
  margin: 5px;
}